/* Estilos generales */

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #379137;
    color: white;
    padding: 15px 0;
    position: relative;
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    color: white;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-img {
    width: 50px;
    /* Tamaño del logo */
    height: auto;
    margin-right: 11px;
    transition: transform 0.3s ease;
}

.logo-text {
    font-size: 1.5rem;
    /* Tamaño del texto del logo */
    font-weight: bold;
    color: white;
}


/* Efecto hover en el logo */

.logo-img:hover {
    transform: scale(1.1);
    /* Zoom al pasar sobre el logo */
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin-left: 1.5rem;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}


/* Estilo para el menú hamburguesa */

.hamburger {
    display: none;
    font-size: 2rem;
    cursor: pointer;
}


/* Responsive Styles */

@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        right: 0;
        background-color: #379137;
        width: 100%;
    }
    .nav-links.active {
        display: flex;
    }
    .nav-links li {
        text-align: center;
        margin: 1rem 0;
    }
    .hamburger {
        display: block;
    }
    /* Logo centrado en pantallas pequeñas */
    .logo {
        order: 1;
        margin: 0 auto;
    }
}


/* Ocultar el texto del logo en pantallas pequeñas */

@media (max-width: 576px) {
    .logo-text {
        display: none;
    }
    .logo {
        justify-content: center;
    }
}


/* Estilos de la sección hero */

.hero {
    background-color: #44A345;
    color: white;
    padding: 100px 20px;
    text-align: center;
}

.hero-content h2 {
    font-size: 36px;
    margin: 0;
}

.hero-content p {
    font-size: 18px;
}


/* Estilos del contenido principal */

.info-section {
    padding: 40px 20px;
    text-align: center;
}

.info-section h2 {
    color: #4CAF50;
}


/* Estilos de la galería de imágenes */

.image-gallery {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.image-gallery img {
    width: 200px;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.image-gallery img:hover {
    transform: scale(1.1);
    /* Animación de zoom */
}


/* Estilos del pie de página */

footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}