* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.menu-superior {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #4CAF50;
    padding: 15px 20px;
    color: white;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.menu-logo {
    display: flex;
    align-items: center;
}

.menu-logo img {
    width: 40px;
    height: auto;
    margin-right: 10px;
}

.menu-logo h1 {
    font-size: 1.2em;
    margin: 0;
}

.nav-bar {
    display: flex;
    align-items: center;
}

.nav-links {
    display: flex;
    gap: 1rem;
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 8px 10px;
    transition: background 0.3s;
}

.nav-links a:hover {
    background-color: #45a049;
}

.menu-toggle {
    display: none;
}

.hamburger {
    display: none;
    cursor: pointer;
    width: 25px;
    height: 2px;
    background-color: white;
    position: relative;
    transition: background 0.3s;
}

.hamburger::before,
.hamburger::after {
    content: '';
    width: 25px;
    height: 2px;
    background-color: white;
    position: absolute;
    left: 0;
    transition: transform 0.3s;
}

.hamburger::before {
    top: -8px;
}

.hamburger::after {
    top: 8px;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 80px;
        right: 0;
        background-color: #3e9142;
        width: 100%;
        text-align: center;
    }
    .menu-toggle:checked+.hamburger {
        background-color: transparent;
    }
    .menu-toggle:checked+.hamburger::before {
        transform: rotate(45deg);
        top: 0;
    }
    .menu-toggle:checked+.hamburger::after {
        transform: rotate(-45deg);
        top: 0;
    }
    .menu-toggle:checked~.nav-links {
        display: flex;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
    .hamburger {
        display: block;
    }
}

.notification {
    background-color: #ffcc00;
    margin-top: 1%;
    padding: 10px;
    text-align: left;
    display: flex;
    align-items: center;
    font-weight: bold;
    border: none;
    border-radius: 8px;
}

.notification h2 {
    color: #f01515;
    font-size: 20px;
}

.notification p {
    color: #333;
    font-size: 1em;
    line-height: 1.5;
}

.notification-image {
    width: 80px;
    height: auto;
    margin-right: 15px;
}

.footer {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
    width: 100%;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2);
    margin-top: auto;
}

.footer-content p {
    margin: 5px 0;
}

.footer-content a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.footer-content a:hover {
    color: #ddd;
}